<!DOCTYPE html>
<html lang="en">
<head>
	<title>Klausimai</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/stiliai.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">VIKO</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/paskyra">Paskyra</a></li>
      <li><a href="/pamokos">Pamokos</a></li>
      <li><a href="/manopamokos">Mano pamogos</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Atsijungti</a></li>
    </ul>
  </div>
</nav>


<div  class="container">
<div class="row ">
<p>
<% for(var i=0; i<kiekis.length; i++) {%>
<div class="btn-group btn-primary btn-md" method="get">
<a href='/istrintiKlausima/<%= kiekis[i].kl_id %>/<%=kiekis[i].pamokos_id%>' class=" w3-button w3-circle w3-white"><span class="dydis">-</span></a>
</div>
<% } %>
</p>
<p>
<% for(var i=0; i<kiekis.length; i++) {%>
<div class="btn-group button-group-left btn-primary btn-md" method="get" >
<a href='/klausimas/naujas/<%= kiekis[i].kl_id %>/<%=kiekis[i].pamokos_id%>' class="w3-button w3-circle w3-white" name="jj"><%= kiekis[i].kl_id %></a>
</div>

<% } %>
</p>
<form class="form-inline" action='/klausimas/naujass/<%=kiekis[0].pamokos_id%>' method="get">

<div class="btn-group button-group-left btn-primary btn-xs" >
<button class=" w3-button w3-circle w3-white">+</button>
</div>

</form>
</div>
</div>

  <br> <br>
  
   
	<div align="center" class="container">
	
	<form class="form-inline" <% if(typeof klausimas != "undefined") {%>  action='/klausimas/saugoti/<%=klausimas.kl_id%>/<%=klausimas.pamokos_id%>' method='post' <% } %> 
>						
				<div class="col-sm-9">			
					
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Klausimas"<% if(typeof klausimas != "undefined") {%> value="<%=klausimas.vardas%>"<% } %> name="vardas" 
id="vardas">
				</div>
				<br><br><br>
				<div class="input-group">
		<textarea class="form-control" rows="15" cols="200" name="uzduotis" id="uzduotis"  placeholder="Užduotis"><% if(typeof klausimas != "undefined") {%><%=klausimas.uzduotis%> 
<% } %></textarea>
    </div>
	
	<br><br>
	<div align="left">
		<input type="text" align="left" class="form-control" name="atsakymas" id="atsakymas" <% if(typeof klausimas != "undefined") {%> value="<%=klausimas.atsakymas%>" <% } %> 
placeholder="Teisingas atsakymas">
	</div>
	<br> <br>
	<button class="btn btn-primary btn-xl">Išsaugoti</button>
	</div>
	<div class="col-sm-3"> 
			
			<table class="table" style="width:100%">

			<tr>
				
				<div class="input-group">
				
				<% for(var j=0; j<sk.length; j++) {%>
					<div class="row">
					<input type="text" name="skaidre" value="<%=sk[j]%>" class="form-control" placeholder="URL">
					<a href='/istrintiSkaidre/<%=klausimas.kl_id%>/<%=klausimas.pamokos_id%>/<%=j%>'class="btn btn-primary btn-xl">Ištrinti</a> </div>
					<br>
					<br>
					<%}%>
				<a href='/naujaSkaidre/<%=klausimas.kl_id%>/<%=klausimas.pamokos_id%>'class="btn btn-primary btn-xl">Nauja skaidrė</a>
					
				</div>
				</th>
			</tr>
			
			</table>

			
			</div>
</form>
<% if(typeof zinute != "undefined") {%> <span> <=% zinute => </span> <% }%>
  
  </div>
<script>
function pakeisti(idas) {
var vardas = document.getElementById('vardas').value
var uzduotis = document.getElementById('uzduotis').value
var atsakymas = document.getElementById('atsakymas').value
var skaidre= document.getElementById('skaidre').value
var res=window.location.href
var ida = res.substring(39, 40)
fetch('/klausimas/pakeisti/'+ ida + idas, {
    method: 'put',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({
      'vardas': vardas,
	  'uzduotis' : uzduotis,
	  'atsakymas' : atsakymas,
	  'skaidre' : skaidre
    })
  })
  .then(response => {
    if (response.ok) {return response.json()
	}
		
  })
  .then(data => {
    console.log(data)
	window.location.reload()
  })
  

}
</script>
</body>
</html>