<!DOCTYPE html>
<html ng-app>
<head>
	<title>Pamokos</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/stiliai.css">
  <link rel="stylesheet" href="css/bootstrap.css">

  
</head>
<body>



<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">VIKO</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/paskyra">Paskyra</a></li>
      <li><a href="/pamokos">Pamokos</a></li>
      <% if (rol == 2) { %>
      <li><a href="/manopamokos">Mano pamogos</a></li>
	  <% } %>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Atsijungti</a></li>
    </ul>
  </div>
</nav>
<div align="center" class="container" method="/pamokos">



<% for(var i=0; i<pamoka.length; i++) {%>

<% } %>	
<h2>Pamokos(<%= pamoka.length %>)</h2>
<br> <br>
				
<br>

<div class="container">	
	<div class="row">
	<form action='/filtruoti' method='post'>
	<div class="form-group col-sm-2">
		Lygis:
		<select name="lygis" class="form-control">
		<option >Visi</option>
		<option >Pradžiamokslis</option>
		<option >Vidutinis</option>
		<option >Pažengęs</option>
		</select>
	</div>
	<div class="form-group col-sm-2">
		Kalba:
		<select name="kalba" class="form-control">
		<option >Visi</option>
		<option >JavaScript</option>
		<option >HTML</option>
		<option >CSS</option>
		</select>
	</div>
	<div class="form-group col-sm-2">
		Dėstytojas:
		<select name="destytojas" class="form-control">
		<option >Visi</option>
		<% for(var i=0; i<destytojai.length; i++) {%>
		<option><%=destytojai[i].vardas%></option>
		<%}%>
		</select>
	
	</div>
	<br>
	<button class="btn btn-primary btn-xl">filtruoti</button>
	</form>
	</div>
	
		
		<% for(var i=0; i<pamoka.length; i++) {%>
		<% if (pamoka[i].publikuota == "true") {%>
		<div class="row">
		<div class="panel panel-default">
		<div class="panel-body">
		
		
				<div class="col-sm-2 col-md-2 col-lg-2">	
				
				  <p align="left"><font size="4"><b><%= pamoka[i].tema %></b></font></p>
				  <p align="left"><font size="2" color="gray"><%= pamoka[i].vardas %></font></p>
				</div>			
				<div class="col-sm-7 col-md-7 col-lg-8">
				  <p align="left"><font size="2">Programavimo kalba: <%= pamoka[i].kalba %>| Aprašymas: <%= pamoka[i].aprasymas %></font></p>
				  <p align="left">Sunkumo lygis: <font color="green"><b><%= pamoka[i].lygis %></b></font>  Spręsta kartu: <%= pamoka[i].kartu%>  Sukurta <%= pamoka[i].sukurta%></p>
				<br>
				<div align="right">
				 <a href="/pradeti/<%= pamoka[i]._id%>/<%= pamoka[i].emailas%>" class="btn btn-primary btn-xl") >Pradėti</a>
				  
				  
				  </div>
				</div>	
				</div></div>
</div>
<br><br>
<% } %>		
<% } %>					
		

</div>
<% if (typeof rezas[0] !== "undefined") { %>
<h2>Nepabaigtos pamokos</h2>
<br> <br>
				
<br>

<div class="container">	
	<div class="panel panel-default">
		<div class="panel-body">
				<div class="col-sm-2 col-md-2 col-lg-2">	
				  <p align="left"><font size="4"><b><%=rezas[0].tema%></b></font></p>
				  <p align="left"><font size="2" color="gray"><%=rezas[0].vardas%></font></p>
				</div>			
				<div class="col-sm-7 col-md-7 col-lg-8">
				  <p align="left"><font size="2"><%=rezas[0].kalba%></font></p>
				  <p align="left"><font color="green"><b><%=rezas[0].lygis%></b></font>Žmonių sprendė : <%=rezas[0].kartu%>| Pridėta: <%=rezas[0].sukurta%></p>
				<br>
				<div align="left">
				  <a href='/testi/<%=rezas[0]._id%>' < class="btn btn-primary btn-xl">Tęsti</a>


				  </div>
				</div>		
		</div>
	</div>
</div>
<% }%>
</div>
<script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>