<!DOCTYPE html>
<html ng-app>
<head>
	<title>Pamokos</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/stiliai.css">
  <link rel="stylesheet" href="css/bootstrap.css">

  
</head>
<body>



<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">VIKO</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/paskyra">Paskyra</a></li>
      <li><a href="/pamokos">Pamokos</a></li>
      <% if (rol == 2) { %>
      <li><a href="/manopamokos">Mano pamogos</a></li>
	  <% } %>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Atsijungti</a></li>
    </ul>
  </div>
</nav>
<div align="center" class="container" method="/pamokos">
<div class="container">	
<h2>Top pamokos</h2>
	<div class="panel panel-default">
		<div class="panel-body">
				<div class="col-sm-2 col-md-2 col-lg-2">	
				  <p align="left"><font size="4"><b>JavaScript</b></font></p>
				  <p align="left"><font size="2" color="gray">Antanas</font></p>
				</div>			
				<div class="col-sm-7 col-md-7 col-lg-8">
				  <p align="left"><font size="2">JavaScript</font></p>
				  <p align="left"><b>Pradžiamokslis</b>   Žmonių sprendė : 0| Vidutinis laikas: 20min| Pridėta: 2017-01-02| Redaguota: niekada </p>
				  <br>
				  <div align="left">
				  <a href="#" class="btn btn-primary btn-xl">Sustabdyti</a>
				  <a href="#" class="btn btn-primary btn-xl">Redaguoti</a>
				  <a href="#" class="btn btn-primary btn-xl">Trinti</a>
				  </div>
				</div>		
		</div>
	</div>
</div>


<% for(var i=0; i<pamoka.length; i++) {%>

<% } %>	
<h2>Pamokos(<%= pamoka.length %>)</h2>
<br> <br>
				
<br>

<div class="container">	

	
	
		
		<% for(var i=0; i<pamoka.length; i++) {%>
		<% if (pamoka[i].publikuota == "true") {%>
		<div class="row">
		<div class="panel panel-default">
		<div class="panel-body">
		
		
				<div class="col-sm-2 col-md-2 col-lg-2">	
				
				  <p align="left"><font size="4"><b><%= pamoka[i].tema %></b></font></p>
				  <p align="left"><font size="2" color="gray"><%= pamoka[i].vardas %></font></p>
				</div>			
				<div class="col-sm-7 col-md-7 col-lg-8">
				  <p align="left"><font size="2">Programavimo kalba: <%= pamoka[i].kalba %>| Aprašymas: <%= pamoka[i].aprasymas %></font></p>
				  <p align="left">Sunkumo lygis: <font color="green"><b><%= pamoka[i].lygis %></b></font>  Spręsta kartu: <%= pamoka[i].kartu%>  Sukurta <%= pamoka[i].sukurta%></p>
				<br>
				<div align="right">
				 <button class="btn btn-primary btn-xl") >Pradėti</button>
				  
				  
				  </div>
				</div>	
				</div></div>
</div>
<br><br>
<% } %>		
<% } %>					
		

</div>

<h2>Nepabaigtos pamokos</h2>
<br> <br>
				
<br>

<div class="container">	
	<div class="panel panel-default">
		<div class="panel-body">
				<div class="col-sm-2 col-md-2 col-lg-2">	
				  <p align="left"><font size="4"><b>HTML</b></font></p>
				  <p align="left"><font size="2" color="gray">Antanas</font></p>
				</div>			
				<div class="col-sm-7 col-md-7 col-lg-8">
				  <p align="left"><font size="2">HTML</font></p>
				  <p align="left"><font color="green"><b>Pradžiamokslis</b></font>Žmonių sprendė : 0| Vidutinis laikas: 20min| Pridėta: 2017-01-02| Redaguota: niekada</p>
				<br>
				<div align="left">
				  <a href="#" class="btn btn-primary btn-xl">Sustabdyti</a>
				  <a href="#" class="btn btn-primary btn-xl">Redaguoti</a>
				  <button id="delete" >jo</button>
				  </div>
				</div>		
		</div>
	</div>
</div>
</div>
<script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>