<!DOCTYPE html>
<html ng-app>
<head>
	<title>Pamokos</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/stiliai.css">
  <link rel="stylesheet" href="css/bootstrap.css">

  
</head>
<body>



<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">VIKO</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/paskyra">Paskyra</a></li>
      <li><a href="/pamokos">Pamokos</a></li>
      <% if (rol == 2) { %>
      <li><a href="/manopamokos">Mano pamogos</a></li>
	  <% } %>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Atsijungti</a></li>
    </ul>
  </div>
</nav>
<div align="center" class="container" method="/pamokos">
<div class="container">	
<a align="right" href="/pamoka" class="btn btn-primary btn-xl">Kuri pamoka</a>
<% if (typeof topas !== "undefined") { %>
<h2>Top pamoka</h2>
	<div class="panel panel-default">
		<div class="panel-body">
				<div class="col-sm-2 col-md-2 col-lg-2">	
				  <p align="left"><font size="4"><b><%= topas.tema %></b></font></p>
				  <p align="left"><font size="2" color="gray"><%= topas.vardas %></font></p>
				</div>			
				<div class="col-sm-7 col-md-7 col-lg-8">
				  <p align="left"><font size="2">Programavimo kalba: <%= topas.kalba %>| Aprašymas: <%= topas.aprasymas %></font></p>
				  <p align="left">Sunkumo lygis: <font color="green"><b><%= topas.lygis %></b></font>  Spręsta kartu: <%= topas.kartu%>  Sukurta <%= topas.sukurta%></p>
				  <br>
				</div>		
		</div>
	</div>
	<% }%>
</div>


<% for(var i=0; i<pamoka.length; i++) {%>
<% } %>	
<h2>Pamokos(<%= pamoka.length %>)</h2>
<br> <br>
				
<br>

<div class="container">	

	
	
		
		<% for(var i=0; i<pamoka.length; i++) {%>
		<div class="row">
		<div class="panel panel-default">
		<div class="panel-body">
		
		
				<div class="col-sm-2 col-md-2 col-lg-2">	
				
				  <p align="left"><font size="4"><b><%= pamoka[i].tema %></b></font></p>
				  <p align="left"><font size="2" color="gray"><%= pamoka[i].vardas %></font></p>
				</div>			
				<div class="col-sm-7 col-md-7 col-lg-8">
				  <p align="left"><font size="2">Programavimo kalba: <%= pamoka[i].kalba %>| Aprašymas: <%= pamoka[i].aprasymas %></font></p>
				  <p align="left">Sunkumo lygis: <font color="green"><b><%= pamoka[i].lygis %></b></font>  Spręsta kartu: <%= pamoka[i].kartu%>  Sukurta <%= pamoka[i].sukurta%></p>
				<br>
				<div align="left">
				<div class="row">
				<form action='/redaguoti/<%= pamoka[i]._id %>' method='get'> <button class="btn btn-primary btn-xl">Redaguoti</button> </form>
				  <a href='/klausimas/naujas/1/<%= pamoka[i]._id %>'class="btn btn-primary btn-xl">Redaguoti klausimus</a> 
				 <form action='/trinti/<%= pamoka[i]._id %>' method='post'><button class="btn btn-primary btn-xl") >Trinti</button> </form>
				  <% if(pamoka[i].publikuota == "false"){%>
				  
				  <form action='/publikuoti/<%= pamoka[i]._id %>' method='post'><button class="btn btn-primary btn-xl">Publikuoti</button></form>
				  <% } else {%>
				 <form action='/nepublikuoti/<%= pamoka[i]._id %>' method='post'> <button class="btn btn-primary btn-xl">Nebeblikuoti</button></form>
				  <% } %>
				  
				  </div>
				  </div>
				</div>	
				</div></div>
</div>
<br><br>
<% } %>					
		

</div>

<h2>Nepabaigtos pamokos</h2>
<br> <br>
				
<br>
<% for(var i=0; i<neispresta.length; i++)  { %>
<div class="container">	
	<div class="panel panel-default">
		<div class="panel-body">
				<div class="col-sm-2 col-md-2 col-lg-2">	
				  <p align="left"><font size="4"><b><%= neispresta[i].tema %></b></font></p>
				  <p align="left"><font size="2" color="gray"><%= neispresta[i].vardas%></font></p>
				</div>			
				<div class="col-sm-7 col-md-7 col-lg-8">
				  <p align="left"><font size="2">Programavimo kalba: <%= neispresta[i].kalba %>| Aprašymas: <%= neispresta[i].aprasymas %></font></p>
				  <p align="left">Sunkumo lygis: <font color="green"><b><%= neispresta[i].lygis %></b></font>  Spręsta kartu: <%= neispresta[i].kartu%>  Sukurta <%= neispresta[i].sukurta%></p>
				<br>
				</div>		
		</div>
	</div>
</div>
<% }%>
</div>
<script>

function trinti(lygis) {
fetch('/pamokos/lygis', {
    method: 'delete',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      '_id': lygis
	  
    })
  }).then(function (response) {
    window.location.reload()
  })
	
}
function nebepublikuoti(lygis) {
fetch('/nebepublikuoti', {
    method: 'put',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({
      '_id': lygis
    })
  })
  .then(response => {
    if (response.ok) {return response.json()
	}
		
  })
  .then(data => {
    console.log(data)
	window.location.reload()
  })
  

}
function publikuoti(lygis) {
fetch('/publikuoti', {
    method: 'put',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({
      '_id': lygis
    })
  })
  .then(response => {
    if (response.ok) {return response.json()
	}
		
  })
  .then(data => {
    console.log(data)
	window.location.reload()
  })
  

}
</script>
<script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>